<main class='p-5'>
    <div class="card p-5">
        <p id="test">
            Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!
        </p>
    </div>

    <span class="test">Test</span>

    <pre>   test</pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 10px 30px 0 100px; background-color: grey; height:300px;"> 
        <span>category fish</span>
        <span>category fish</span>
        <span>category fish</span>
        <span>category fish</span>

        <span class="block">inline-blockinline-blockinline-blockinline-blockinline-blockinline-blockinline-blockinline-blockinline-block</span>
    </div>
   
</main>