{{!-- <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>


    <button type="button" class="button">Купити</button>

    <p class="user">Text test</p>
</section>

<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    
    <p class="user">
        <em class="child">Test em</em>
    </p>

    <div>
        <div>
            <em class="child">Test</em>
        </div>
    </div>
</footer>

<section class="p-5 box">
    <h1>Test h1</h1>
    <p>fkl;ajlkfs</p>
</section>

<section class="p-5 box">
    <h1>Test h1</h1>
    <p>fkl;ajlkfs</p>
</section>
<section class="p-5 box">
    <h1>Test h1</h1>
    <p>fkl;ajlkfs</p>
    <em>Test</em>
</section>
<section class="p-5 box">
    <h1>Test h1</h1>
    <div>
        <p>fkl;ajlkfs</p>
    </div>
</section> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
        <li class="item">Item 4</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">Item 1</div>
</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">item 1</div>
    <div class="item">item 2</div>
    <b class="item">text</b>
    <p class="item">item 3</p>
    <p class="item">item 4</p>
    <p></p>
    <q class="item">item 4</q>
    <p class="item">item 4</p>
    <p class="item">item 4</p>
    <p class="item">item 4</p>
    <p>not</p>
</div> --}}
 
{{!-- <div class="card m-5 p-5 card-dark">
    <input class="input-dark" required placeholder="test">
    <input class="input-dark" type="number"> 
</div>

<div class="card p-5 m-5 card-dark img">
    <img src="https://picsum.photos/400/400" alt="image small card" class="small-img">

    <a href="https://picsum.photos/200" rel="external">Route</a>
    <br>
    <button class="btn">Click me</button>
    <br>
    <a class="small btn btn-secondary">Click me</a>
    <br>
    <a class="small btn btn-secondary fjajsfbig">Click me</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="before-after">fyuasgdjfhggasd<br>hjkfgasdjhfgajsd</p>
</div> --}}

<div lang="fr" class="card m-5 p-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>

<div id="test" lang="en" class="card m-5 p-5 card-dark">
    <input type="text">
    <span>Text</span>
    <button>Test button</button>
</div>

<div class="m-5 p-5 card-dark">
    <button>Test button</button>
    <button disabled>Test button</button>
</div>

<div class="m-5 p-5 card-dark">
    <input class="inp">
    <input class="inp" readonly>
    <div class="mt-5">
        <div>
            <input type="checkbox">
            <span>First</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Third</span>
        </div>
    </div>
</div>

<div class="m-5 p-5 card-dark">
    <div>
        <input class="valid" type="email" placeholder="test">
        <span>Test text</span>
    </div>
    <div class="mt-5">
        <input type="number" required class="number" min="10" max="20">
    </div>
</div>

