{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />

		<meta name="viewport" content="viewport-fit-cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	</head>

	<body>
		<div class="page">
			<section class="page-section">
				<div class="page-content hero-section">

					<div class="hero">
						<div class="hero-content">
							<span class="hero-label">Slack features</span>
							<h1 class="hero-title">One platform for your team and your work</h1>
							<p class="hero-info line-height-ext">All the features of Slack work together so you can, too.</p>
							<div class="hero-buttons">
								<a href="#" class="button link button-primary">Try for free</a>
								<a href="#" class="button link button-secondary">See all features</a>
							</div>

							<img src="/img/hero.png" alt="Hero" class="hero-image">
						</div>
					</div>


					<div class="brands">
						<img src="/img/brands/airbnb.png" alt="airbnb" class="brands-image">
						<img src="/img/brands/intuit.png" alt="intuit" class="brands-image">
						<img src="/img/brands/newscorp.png" alt="newscorp" class="brands-image">
						<img src="/img/brands/onemedical.png" alt="onemedical" class="brands-image">
						<img src="/img/brands/sonos.png" alt="sonos" class="brands-image">
						<img src="/img/brands/target.png" alt="target" class="brands-image">
						<img src="/img/brands/uber.png" alt="uber" class="brands-image">
						<img src="/img/brands/va.png" alt="va" class="brands-image">
					</div>
				</div>
			</section>

			<section class="page-section page-section-light">
				<div class="page-content features-section">
					<h2 class="features-title">Work more easily with everyone</h2>
					<p class="features-text line-height-ext">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>

					<div class="features-grid-4">
						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/connect.svg')"></span>
							<storng>Slack Connect</storng>
							<p class="line-height-ext">Collaborate with teams at other companies the same way you do with teams at your own.</p>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/channels.svg')"></span>
							<storng class="feature-card-title">Chennels</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/huddles.svg')"></span>
							<storng class="feature-card-title">Huddles</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/clips.svg')"></span>
							<storng class="feature-card-title">Clips</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/canvas.svg')"></span>
							<storng class="feature-card-title">Canvas</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/messaging.svg')"></span>
							<storng class="feature-card-title">Messaging</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/accesibility.svg')"></span>
							<storng class="feature-card-title">Accesibility</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>
					</div>
				</div>

				<div class="page-content second-features-section">
					<div class="needs-content">
						<h2 class="needs-title">What you need, when you need it</h2>
						<p class="needs-text">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
					</div>
					
					<div class="features-grid-3">
						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/apps.svg')"></span>
							<storng class="feature-card-title">Apps and Integrations</storng>
							<p class="feature-card-text">Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/workflow.svg')"></span>
							<storng class="feature-card-title">Workflow Builder</storng>
							<p class="feature-card-text">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/search.svg')"></span>
							<storng class="feature-card-title">Search</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>

						<div class="feature-card">
							<span class="icon feature-icon" style="background-image: url('/svg/feature/file-sharing.svg')"></span>
							<storng class="feature-card-title">File sharing</storng>
							<a href="#" class="icon icon-arrow link end-link"></a>
						</div>
					</div>
				</div>
			</section>

			<section class="page-section">
				<div class="page-content delivery-block">
					<img src="/img/delivery.png" alt="Delivery" class="delivery-image">
					<div class="delivery-content">
						<blockquote class="delivery-text">“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.”</blockquote>
						<img src="/img/deliveroo.png" alt="Deliveroo" class="delivery-logo">
						<p class="delivery-quote-author">Will Sprunt, CIO, Deliveroo</p>
					</div>
				</div>
			</section>

			<section class="page-section">
				<div class="page-content work-info">
					<h2 class="work-info-title">Explore more about working in Slack</h2>
					<div class="work-grid">
						<div class="work-card">
							<img src="/img/slack101.png" alt="" class="work-card-image">
							<div class="work-card-content">
								<p class="work-card-description">Slack Tutorials</p>
								<strong class="work-card-heading">Slack 101</strong>
								<div class="work-card-links">
									<a href="#" class="work-learn-more link work-link">Learn more</a>
									<a href="#" class="icon icon-arrow-blue link work-link"></a>
								</div>
							</div>
						</div>

						<div class="work-card">
							<img src="/img/slack-vs-email.png" alt="" class="work-card-image">
							<div class="work-card-content">
								<p class="work-card-description">Slack vs. Email</p>
								<strong class="work-card-heading">An easier, more organized way to work</strong>
								<div class="work-card-links">
									<a href="#" class="work-learn-more link work-link">Learn more</a>
									<a href="#" class="icon icon-arrow-blue link work-link"></a>
								</div>
							</div>
						</div>

						<div class="work-card">
							<img src="/img/slack-customers.png" alt="" class="work-card-image">
							<div class="work-card-content">
								<p class="work-card-description">Customer Stories</p>
								<strong class="work-card-heading">How Fastly uses Slack Connect to wow enterprise customers</strong>
								<div class="work-card-links">
									<a href="#" class="work-learn-more link work-link">Learn more</a>
									<a href="#" class="icon icon-arrow-blue link  work-link"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>

</html>
