* {
    font-size:40px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 900;

    font-display: swap;
}

.card > p {
    color: green;
    -webkit-text-fill-color: red;
    -webkit-text-stroke:2px blue;
}

.card {
    color:red;
}

p:focus,
p:active,
p:hover {
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke:2px pink;

    direction:rtl;
}

#test {
    color: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-text-stroke: inherit;

    text-align:justify;

    letter-spacing: 0.2em;
}
span {
    text-decoration: line-through double green;

    font-weight: 900;
}

span:hover{
    text-transform: uppercase;
    text-decoration: line-through solid red;
}

pre {
    tab-size: 100px;
    font-style:oblique;
}

.test {
    font-weight: lighter;
}

.block {
    display:inline-block;
    background-color: lightgrey;
    margin: auto;

    width:100%;

    max-width: 600px;

    min-height: 40%;

    min-height: max-content;

    padding: 15px;
}