:root {
    --space-m: 12px;
    --space-xm: 16px;
	--space-l: 24px;
    --space-xl: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;

	--border-color: #dee2e6;
    --border-radius: 12px;


    --color-primary: rgb(46, 46, 255);
    --color-title:#212529;
    --color-text: #343a40;

    --weight-title: 500;
    --weight-text: 400;

}

.page {
    background: #ffffff;
    padding: 0 15px;

	display: flex;
	justify-content: center;

	font-family: "Roboto";
}

.page-content {
    max-width: 960px;
    width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

.header {
    padding: var(--space-l) 0;
    border-bottom:1px solid var(--border-color)e6;

	display: flex;
	justify-content:  space-between;
}

.logo {
    font-size: 17px;
    color: #fff;
    background-color: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc( var(--border-radius) / 2 );

    display: flex;
    justify-content:center;
    align-items: center;
}

.nav {
    display:flex;
}

.nav-inline {
	gap: var(--space-l);
}

.nav-ver {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav-link {
    padding: 0;
    display: inline;
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none; 
}

.nav-link:hover {
    text-decoration: underline;
    color:var(--color-primary);
}

.header-nav-right {
    margin-left: auto;
    width: fit-content;
}

.footer {
    padding: var(--space-medium) 0;
	padding-top: var(--space-l);

    border-top:1px solid var(--border-color);

	display: flex;
	justify-content: space-between;
}

.footer-copywright {
    font-size: var(--size-s);
    color: #6c757d;

    display: block;

    margin-top: var(--space-l);
}

.footer-title {
    font-size: var(--size-l);
    font-weight: var(--weight-title);
    color: var(--color-title);

    display:block;
    margin-bottom:var(--space-l);
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

.main-image	{
	width: 500px;
	height: 500px;
}

.main-content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l)
}

.main-title {
	font-size: 36px;
	font-weight: var(--weight-title);
	color: var(--color-title);
	line-height: 120%;
}

.main-text {
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: var(--color-text);
	line-height: 170%;
}

.main-button {
	max-width: 120px;
	width: 100%;
	padding: var(--space-m) var(--space-xm);

	background-color: var(--color-primary);
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.main-button:hover {
	opacity: 0.7;
}

.features {
	display: flex;
	gap: var(--space-l);
	padding: 0 var(--space-l);
    border-bottom: 1px solid var(--border-color)
}

.card {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-l);
	margin-bottom: 40px;
}

.card-image {
	width: 64px;
	height: 64px;
	border-radius: var(--border-radius);
}

.card-title {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card-text {
	font-size: var(--size-s);
	color: var(--color-text);
	font-weight: var(--weight-text);
	line-height: 170%;
}

.card-action {
	display: inline-block;
	color: var(--color-primary);
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	text-decoration: none;
}

.card-action:hover {
	text-decoration: underline;
}

.form {
	display: flex;
	justify-content: space-between;
	gap: 112px;
	padding: 24px;

	background-color: var(--color-primary);
	border-radius :var(--border-radius);
}

.form-item {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}

.form-title {
	color: #fff;
	font-size: 24px;
	font-weight: var(--weight-text);
}

.form-action {
	display: block;
	background-color: #fff;
	width: 220px;
	padding: var(--space-xm);
	border-radius: 4px;
	color: var(--color-text);
	text-align: center;
	text-decoration: none;
}

.form-action:hover {
	opacity: 0.9;
}
