:root {
    --text-color:#212529;
    --space-medium: 24px;
}

.page {
    background: #ffffff;
    padding: 0 15px;
}

.page-content {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding:var(--space-medium);

    border-bottom:1px solid #dee2e6;
}

.header-logo > span{
    font-size: 17px;
}

.divider {
    height: 1px;
    background: #dee2e6;
}

.nav {
    display:block;
}

.nav-link {
    padding: 0;
    display: inline;
    color: #343a40;
    font-size: 16px;
    text-decoration: none; 
}

.nav-link:hover {
    text-decoration: underline;
    color:blue;
}
.nav-ver > .nav-link:not(:last-child) {
    display: block;
    margin-bottom: 12px;
}

.nav-inline > .nav-link:not(:last-child) {
    margin-right: var(--space-medium);
}

.header-nav-right {
    margin-left: auto;
    width: fit-content;
}

.page-block:not(:last-of-type) {
    margin-bottom: 80px;
}

.footer {
    padding: var(--space-medium) 0;

    border-top:1px solid #dee2e6;

}

.footer-copywright {
    font-size: 14px;
    color: #6c757d;

    display: block;

    margin-top: 12px;
}

.footer-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color, #212529);

    display:block;
    margin-bottom:12px;
}

.hero-title {
    font-size: 56px;
    color: var(--text-color, #212529);
    font-weight: 500;
    text-align:center;

    margin-bottom: 12px;
}

.hero-text {
    color: var(--text-color, #212529);
    font-size: 20px;
    text-align: center;

    max-width: 585px;
    margin: 0 auto;

    line-height: 1.5;

}

.plans-card:not(:last-of-type) {
    margin-right: var(--space-medium);
}

.card-header {
    padding: 12px;
    font-size:var(--space-medium);
    text-align: center;
    color: var(--text-color, #212529);
}

.card-body {
    padding:var(--space-medium);
}

.card-block {
    text-align: center;
}

.card-block:not(:last-of-type) {
    margin-bottom: var(--space-medium);
}

.card-price-amount {
    font-size: 40px;
    color: var(--text-color, #212529);
}

.card-price-duration {
    font-size: 29px;
    color: #6c757d;

    vertical-align: 12px;
}

.card-desription-item {
    font-size: 16px;
    color: var(--text-color, #212529);
    display: block;
}

.card-desription-item:not(:last-of-type) {
    margin-bottom: 12px;
}

.card-button {
    display: block;
    width: 100%;
    font-size: 19px;
    padding: 9px;
}

.card {
    border: 2px solid blue;

    border-radius: 15px 30px 45px 60px;


}

.card:hover {
    outline: 2px solid blue;
    outline-offset: 5px;

    box-shadow: 5px 5px 10px 1px rgba(22, 19, 159, 0.435);
    
    cursor:not-allowed;

    opacity: 0.5;
}

.btn {
    border-radius: 25px;
    
}

.btn:hover {
    box-shadow: 5px 5px 10px 1px rgba(22, 19, 159, 0.435); 

}

h1 {
    text-shadow: 0px 0px 10px rgba(22, 19, 159, 0.435); 
}

.plans-card:nth-child(2) > .card {
    visibility: hidden;
}

.hero-text {
    background:grey;
    /* width: 200px;
    height: 100px;

    overflow: hidden;
    text-overflow: ellipsis; */

    /* white-space: pre; */

    width: 600px;

    overflow: auto;
    
    word-spacing: 10px;

    /* resize:both; */
}

.hero-title {
    max-width: 6660px;
    margin: 0 auto;
    margin-bottom: 12px;
    height: 65px;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* .overflow {
    overflow-wrap: anywhere; 
} */
/* .page {
    background-color: transparent;

    background-image: url("/img/test1.jpg");

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center;

    background-size: cover;
} */

/* body{
    background-image: linear-gradient(114.27deg, #FFFFFF 0%, #54c1f7 100%);

    background-image: url("/img/test.png");
    background-repeat: repeat;
} */

.hero-text {
    /* background-image: url("/img/test1.jpg");

    border: 20px solid transparent;
    padding: 40px;
    color: lightgreen;

    background-origin: content-box;
    background-repeat: no-repeat; */

    /* background-clip: text;
    -webkit-background-clip:text; */

    padding: 40px;
    color: lightgreen;
    
    border-image-width: 10% 5%;
    border-image-source: url("/img/test1.jpg");
    border-image-slice: 10%;
    border-image-repeat: round;
    border-image-outset: 100px;
}

.card-block {
    /* list-style-type: lower-greek; */
    list-style-position: inside;
    list-style-image: linear-gradient( to bottom right, blue, red);

    padding: 0;
}

.card-desription-item {
    display: list-item;
}

/* .table tr {
    border: 1px solid black;
} */

.table tr td {
    border: 1px solid blue;
    border-bottom-color: red;
    border-right-color: green;
}

.table {
    table-layout: fixed;
    width: 600px;

    border-collapse: unset;

    border-spacing: 10px;

    caption-side: top;

    empty-cells: hide;
}


.nav-link::before {
    content: open-quote;
}

.nav-link::after {
    background-image: url("/img/test1.jpg");

    content: "" ;
    display: inline-block;
    width: 10px;
    height:10px;
    margin-right: 10px;
    margin-left: 10px;
}

.calc {
    width: 600px;

    margin: 0 ;

    margin-left: calc(50% - (600px / 2))
}