
:root {
	--space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
	--space-l: 24px;
    --space-xl: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-xl: 24px;

	--border-color: #dee2e6;
	--border-radius-s: 4px;
    --border-radius-d: 12px;


    --color-primary: rgb(46, 46, 255);
    --color-title:#212529;
    --color-text: #343a40;

    --weight-title: 600;
    --weight-text: 400;

    --page-width: 1000px;
}

.page {
    background: #ffffff;
    padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page-content {
    max-width: var(--page-width);
    width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

.header {
    padding: var(--space-l) 0;
    border-bottom:1px solid var(--border-color)e6;

	display: flex;
	justify-content:  space-between;

    position: sticky;
    max-width: var(--page-width);
    width: 100%;

    top: 0;

    background-color: #fff;

    z-index: 1;
}

.logo {
    font-size: 17px;
    color: #fff;
    background-color: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc( var(--border-radius-d) / 2 );

    display: flex;
    justify-content:center;
    align-items: center;
}

.nav {
    display:flex;
}

.nav-inline {
	gap: var(--space-l);
}

.nav-ver {
	gap: var(--space-s);
	flex-direction: column;
}

.nav-link {
    padding: 0;
    display: inline;
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none; 

    transition-property: color;
    transition-duration: 1s; 
}

.nav-link:hover {
    text-decoration: underline;
    color:var(--color-primary);
}

.header-nav-right {
    margin-left: auto;
    width: fit-content;
}

.footer {
    padding: var(--space-s) 0;

    border-top:1px solid   var(--border-color)e6;

	display: flex;
	justify-content: space-between;
}

.footer-copywright {
    font-size: var(--size-s);
    color: #6c757d;

    display: block;

    margin-top: var(--space-l);
}

.footer-title {
    font-size: var(--size-l);
    font-weight: var(--weight-title);
    color: var(--color-title);

    display:block;
    margin-bottom:var(--space-l);
}

.main {
	display: flex;
	width: 100%;
	align-items: flex-start;
	gap: 40px;
}

.messages {
	/* width: 100%;
	max-width: 620px; */

	background-color: #fff;
	border-radius: var(--border-radius-d);

	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1 );
	padding: var(--space-l);

	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.messages-title {
	font-size: var(--size-xl);
	color: var(--color-title);
	font-weight: var(--weight-text);

	padding-bottom: var(--space-s);
	border-bottom: 1px solid var(--border-color);
}

.messages-link {
	font-size: var(--size-s);
	color: var(--color-primary);
	align-self: flex-end;
	text-decoration: none;

	transition-property: opacity, border-color;
	transition-duration: 0.7s;

	border-bottom: 1px solid transparent;
}

.messages-link:hover {
	opacity:0.7;
	border-color: var(--color-primary);  
}

.msg {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);

	padding-bottom: var(--space-s);
	border-bottom: 1px solid var(--border-color);

	padding-right: var(--space-xl);
}

.msg-name {
	font-size: var(--size-d);
	color: var(--color-title);
	font-weight: var(--weight-title);
}

.msg-text {
	font-size: var(--size-d);
	color: var(--color-title);
	font-weight: var(--weight-text);
}

.msg-day {
	position: absolute;
	top: 0;
	right: 0;
}

.advantages {
	display: flex;
	gap: var(--space-l);
}

.advantages > div, .advantage  {
	display: flex;
	flex-direction: column;
	border: 1px solid #e4eaf2;
	border-radius: var(--border-radius-d);

	padding: var(--space-l);
	gap: var(--space-xs);

	width: 100%;
}

.advantages > div:nth-of-type(2) {
	flex-grow: 1;
	width: 100%;
}

.advantages > div > strong, .advantage > strong {
	color: var(--color-title);
	font-weight: var(--weight-title);
	font-size: 18px;
}

.advantages > div > p, .advantage > p {
	color: #767676;
	font-size: var(--size-d);
	line-height:  150%;
}

.form {
	/* width: 100%;
	max-width: 340px; */

	background-color: #fff;
	border-radius: var(--border-radius-d);

	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1 );
	padding: var(--space-l);

	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	
}

.form-title {
	text-align: center;
	font-size: var(--size-xl);
	font-weight: var(--weight-text);
	color: var(--color-title);
}

.form-info {
	text-align: center;
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: #6c757d;
}

.form-button {
	text-align: center;
	color:#fff;

	padding: 12px;
	background-color: var(--color-primary);
	border-radius: var(--border-radius-s);

	transition: opacity 0.7s;
}

.form-button:hover {
	opacity: 0.7;
}

.form-button:active {
	opacity: 0.3;
}

.form-input-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}

.form-input {
	padding: var(--space-s);
	border: 1px solid #ced4da;
	border-radius: var(--border-radius-s);
}

.form-input::placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}

.form-checkbox {
	display: flex;
	gap: var(--space-xs);
	align-items: center;
}

.form-checkbox > input {
	display: none;
}

.form-checkbox > input ~ div {
	width: 13px;
	height: 13px;
	border: 1px solid #767676;
	border-radius: var(--border-radius-s);
}

.form-checkbox > input:checked ~ div {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}

.form-checkbox > label {
	color: var(--color-title);
	cursor: pointer;
	font-size: var(--size-d);
}

.advantages {
	display: grid;

	height: 800px;

	/* grid-template-columns: repeat(4, minmax(230px, 1fr));
	grid-template-columns: min-content 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

	/* grid-template-rows: repeat(2, 1fr); */
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: 120px;

	place-content: flex-end flex-end;

	place-items: flex-end center;
}

.advantage > div:first-of-type {
	justify-self: flex-start;
	align-self: flex-end;
}

.main {
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	/* grid-template-areas: "messages messages form" "advantages advantages advantages"; */

	grid-auto-rows: 2fr;

}


.messages {
	grid-column: 1 / 3;
	grid-row: 1 / 3; 
}

.form {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.advantages {
	/* grid-column: 1 / 3; */
	grid-row: 3 / 4;
}

.advantage {
	height: 100%;
}

.footer {
	display: grid;

	grid-template-columns: repeat(4, 1fr);

	/* grid-auto-columns: 3fr; */

	grid-auto-flow: column dense;

}

/* .footer > div {
	background-color: lightgray;
} */

/* .footer > div:first-of-type {
	grid-column: 1 / 3;

	grid-column: 1 / 3;

	background-color: red;
}

.footer > div:nth-of-type(2) {
	grid-column: 1 / 3;

	grid-column: 1 / 3;

	background-color: blue;
} */